<div class ="p-grid p-justify-center">
    <div class="p-col-12 p-sm-8 p-md-4">
        <p-card>
            <div class="p-grid">
                <div class="p-col-12">
                    <p></p><i class="fas fa-handshake fa-4x"style="color:yellow"></i>

                    
                    <h2>CRE-TI</h2>
                </div>
                <div class="p-col-12">
                    <label for=""><h2>Digite o CNPJ:</h2></label>
                    <input class="p-col-10" type="text" placeholder="Example 72623938000179" pInputText>

                </div>
                <div class="p-col-12">
                    <button pButton type="button" icon="pi pi-search" iconPos="left" label="Pesquisar" routerLink="/result" routerLinkActive = "selected" class="p-col-10" ></button>
                </div>
            </div>
        </p-card>
    </div>
    </div>
    

   